# Python 관련
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# 가상 환경
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE 관련
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Flask stuff
instance/
.webassets-cache

# Logs and databases
*.log
*.sqlite3
*.sqlite3-journal

# Development tools
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.ruff_cache/
.pypirc

# YOLO 프로젝트 관련
# 모델 파일
*.pt
*.pth
*.onnx
*.engine
*.trt
*.tflite
*.pb
*.mlmodel
*.mlpackage
*.mlc
*.mlir

# 학습 결과물
runs/
test_data/train/
test_data/train/temp_labels/
*.txt
*.cache

# 데이터셋 및 기타 데이터
/dataset/
/etc_data/
/Image-Detection-1/
/Image-Detection-2/
/syn/

# 임시 파일
temp_*
*.temp
*.tmp